<div class="col-md-6 col-md-offset-3 " style="margin-top: 5em">
  <div class="card card-stats">
    <div class="card-header" data-background-color="green">
      <i class="material-icons">thumb_up</i>
    </div>
    <div class="card-content">
      <h3 class="title" style="margin-top: 3em;">Nothing Here</h3>
      <p>Looks like you don't have much work to do. You are all set to enjoy.</p>
    </div>
  </div>
</div>