<tr>
  <td valign="top" style="text-align: center; padding: 60px 0 10px 20px;">
    <h1 style="margin-right: 20px; font-family: 'Montserrat', sans-serif; font-size: 30px; line-height: 36px; color: #ffffff; font-weight: bold;">{{newMessage.subject}}</h1>
  </td>
</tr>
<tr>
  <td valign="top" style="text-align: center; padding: 10px 20px 15px 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #757575;">
    <p style="margin: 0;">{{newMessage.message}}</p>
  </td>
</tr>