<tr>
  <td style="background: url('https://image.ibb.co/h8ooXx/995791f30173854.jpg'); background-size: 100% auto;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="padding: 30px 40px 30px 40px; text-align: center;">
          <img src="https://image.ibb.co/fiTizc/0390c997d0f9979c9c6d9a03298ec4e8.jpg" width="50" height="50" alt="alt_text" border="0" style="height: auto; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
        </td>
      </tr>
    </table>
  </td>
</tr>
