<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-header" data-background-color="purple">
        <h4 class="title">Interact</h4>
      </div>
      <div class="card-content">
        <form action="/admin/reply" method="post">
          <input type="hidden" name="email" value="{{email}}">
          <div class="col-md-12">
            <div class="form-group label-floating">
              <label class="control-label">Subject</label>
              <input type="text" class="form-control" name="subject" value="{{newMessage.subject}}">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group label-floating">
              <label class="control-label">Message</label>
              <textarea class="form-control" name="message" rows="8" style="width: 100%;">{{newMessage.message}}</textarea>
            </div>
          </div>
      </div>
      <button type="submit" class="btn btn-primary pull-right" style="margin-right: 4em">Send</button>
      <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>